<style type="text/css">
	body, html, h1, p{
		margin: 0;
		padding: 0;
	}
	header, article, footer{
		margin: 0 20px;
	}
	header {
		background-color: red;
	}
	footer{
		background-color: green;
	}
	article{
	}
</style>
<!DOCTYPE html>
<html>
<head>
	<title>Nodejs test project</title>
</head>
<body>
<header>This is a header</header>