<h1>The main page</h1>
<form action="/api/users" method="POST">
<input type="hidden" name="saveToPgDatabase" value="true">
	<input type="text" name="name"><br>
	<input type="number" name="role"><br><br>
	<button type="submit">Send</button>
</form>